<div id="index-container">
  <div class="background-container">
    <div class="home-content">
      <h1 data-text="100% Cookies">100% Cookies</h1>
      <p>Un univers plein de saveurs et de gourmandises</p>
    </div>
  </div>
  <div class="content-container">
    <div class="content">
      <div class="display-section">
        <div class="four-images-grid">
          <img src="cookizza.jpg" alt="cookizza">
          <img src="choc-framb.jpg" alt="cookie chocolat-framboise">
          <img src="bueno.jpg" alt="cookie bueno">
          <img src="brookie.jpg" alt="brookie">
        </div>
        <div class="right-content">
          <h2>Cookie, Cookizza et Brookie</h2>
          <ul class="cookie-bullets">
            <li>Choisis tes cookies préférés </li>
            <li>Personnalise ta cookizza</li>
            <li>Déguste un brookie ultra-gourmand</li>
          </ul>
          <a class="button-link" href="#">Voir la carte</a>
        </div>
      </div>

      <div class="display-section reversed">
        <div class="four-images-grid">
          <img src="plate-01.jpg" alt="plateau 01">
          <img src="plate-02.jpg" alt="plateau 02">
          <img src="plate-03.jpg" alt="plateau 03">
          <img src="plate-04.jpg" alt="plateau 04">
        </div>
        <div class="right-content">
          <h2>Plateaux-évènements</h2>
          <p>Egaie tes fêtes de famille, entre amis ou d'entreprise avec nos plateaux évènements...succès assuré!!</p>
          <a class="button-link" href="#">En savoir plus</a>
        </div>
      </div>

      <div class="boxes">
        <h2>Nos conditionnements</h2>
        <div class="boxes-grid">
          <div class="box-item">
            <img src="box-01.jpg" alt="box 01">
            <span class="price">4 cookies - 14€</span>
          </div>
          <div class="box-item">
            <img src="box-02.jpg" alt="box 02">
            <span class="price">6 cookies - 20€</span>
          </div>
          <div class="box-item">
            <img src="box-03.jpg" alt="box 03">
            <span class="price">12 cookies - 38€</span>
          </div>
        </div>
        <p>Choisis la taille de ta boîte (4, 6 ou 12 cookies) et compose-la selon tes envies parmi les goûts du mois!</p>
        <a class="button-link" href="#">Carte du mois</a>
      </div>

      <div class="family-card">
        <img src="mere-fille.png" alt="mère et fille">
        <div>
          <h2>Une aventure mère-fille</h2>
          <p>
            " Pour nous, chaque cookie est une œuvre d'art à part entière, une invitation à un voyage gustatif unique
            au cours duquel tu retrouveras douceur et plaisir "
          </p>
          <a class="button-link" href="#">À propos de nous</a>
        </div>
      </div>

      <div class="features-grid">
        <div class="feature-card">
          <h3>Des réalisations 100% artisanales</h3>
          <img src="homemade.avif" alt="homemade">
          <p>Nos produits sont faits maison et réalisés avec passion dans notre atelier. Nous utilisons les meilleures
            matières premières pour garantir des produits de qualité optimale</p>
        </div>

        <div class="feature-card">
          <h3>0% gaspi - 100% eco-friendly</h3>
          <img src="eco-friendly.avif" alt="eco-friendly">
          <p>Nous privilégions les producteurs locaux dans le choix de nos ingrédients: beurre, oeufs, farine. De plus,
            nous évitons le gaspillage en travaillant uniquement sur commande</p>
        </div>

        <div class="feature-card">
          <h3>Service 100% au top !</h3>
          <img src="hand-shake.avif" alt="hand-shake">
          <p>Nous proposons un service personnalisé, efficace et de qualité. Nous traitons chaque demande avec beaucoup
            d'attention et livrons tes gourmandises avec soin</p>
        </div>
      </div>

    </div>
  </div>
</div>
