<div id="main-index-container">
  <div class="titre">
    <h1>100% Cookies</h1>
    <p>Un univers plein de saveurs et de gourmandises</p>
  </div>
</div>

<div class="test">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam doloribus fugiat minus possimus quaerat quisquam reprehenderit vero? Ad animi architecto excepturi expedita facilis fuga nulla, placeat praesentium quibusdam voluptates voluptatum!</p>
</div>

<!--  <div id="right-container">-->
<!--    <div class="mere-fille">-->
<!--      <img src="mere-fille-removebg-preview.png" alt="image mère et fille">-->
<!--      <div class="content">-->
<!--        <h2>Une aventure Mère-Fille !</h2>-->
<!--        <p>Pour nous, chaque cookie est une œuvre d'art à part entière, une invitation à un voyage gustatif unique au cours duquel tu retrouveras douceur et plaisir.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
