<div id="index-container">
  <div class="background-container">
    <div class="home-content">
      <h1 data-text="100% Cookies">100% Cookies</h1>
      <p>Un univers plein de saveurs et de gourmandises</p>
    </div>
  </div>
  <div class="content-container">
    <div class="content">

    </div>
  </div>
</div>



<!--  <div id="right-container">-->
<!--    <div class="mere-fille">-->
<!--      <img src="mere-fille-removebg-preview.png" alt="image mère et fille">-->
<!--      <div class="content">-->
<!--        <h2>Une aventure Mère-Fille !</h2>-->
<!--        <p>Pour nous, chaque cookie est une œuvre d'art à part entière, une invitation à un voyage gustatif unique au cours duquel tu retrouveras douceur et plaisir.</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
