<div class="features-grid">
  <div class="feature-card">
    <h3>Des réalisations 100% artisanales</h3>
    <img src="homemade.avif" alt="homemade">
    <p>Nos produits sont faits maison et réalisés avec passion dans notre atelier. Nous utilisons les meilleures
      matières premières pour garantir des produits de qualité optimale</p>
  </div>

  <div class="feature-card">
    <h3>0% gaspi - 100% eco-friendly</h3>
    <img src="eco-friendly.avif" alt="eco-friendly">
    <p>Nous privilégions les producteurs locaux dans le choix de nos ingrédients: beurre, oeufs, farine. De plus,
      nous évitons le gaspillage en travaillant uniquement sur commande</p>
  </div>

  <div class="feature-card">
    <h3>Service 100% au top !</h3>
    <img src="hand-shake.avif" alt="hand-shake">
    <p>Nous proposons un service personnalisé, efficace et de qualité. Nous traitons chaque demande avec beaucoup
      d'attention et livrons tes gourmandises avec soin</p>
  </div>
  <!--TODO: utiliser Prime NG pour faire un carousel-->
</div>
