<div class="boxes">
  <h2>Nos conditionnements</h2>
  <div class="boxes-grid">
    <div class="box-item">
      <img src="boxes/box-01.jpg" alt="box 01">
      <span class="price">4 cookies - 14€</span>
    </div>
    <div class="box-item">
      <img src="boxes/box-02.jpg" alt="box 02">
      <span class="price">6 cookies - 20€</span>
    </div>
    <div class="box-item">
      <img src="boxes/box-03.jpg" alt="box 03">
      <span class="price">12 cookies - 38€</span>
    </div>
  </div>
  <p>Choisis la taille de ta boîte (4, 6 ou 12 cookies) et compose-la selon tes envies parmi les goûts du mois!</p>
  <a class="button-link" href="#">Carte du mois</a>
</div>
