<div class="display-section">
  <div class="four-images-grid">
    <img src="cookies/cookizza.jpg" alt="cookizza">
    <img src="cookies/choc-framb.jpg" alt="cookie chocolat-framboise">
    <img src="cookies/bueno.jpg" alt="cookie bueno">
    <img src="cookies/brookie.jpg" alt="brookie">
  </div>
  <div class="right-content">
    <h2>Cookie, Cookizza et Brookie</h2>
    <ul class="cookie-bullets">
      <li>Choisis tes cookies préférés </li>
      <li>Personnalise ta cookizza</li>
      <li>Déguste un brookie ultra-gourmand</li>
    </ul>
    <a class="button-link" href="#">Voir la carte</a>
  </div>
</div>

<div class="display-section reversed">
  <div class="four-images-grid">
    <img src="plates/plate-01.jpg" alt="plateau 01">
    <img src="plates/plate-02.jpg" alt="plateau 02">
    <img src="plates/plate-03.jpg" alt="plateau 03">
    <img src="plates/plate-04.jpg" alt="plateau 04">
  </div>
  <div class="right-content">
    <h2>Plateaux-évènements</h2>
    <p>Egaie tes fêtes de famille, entre amis ou d'entreprise avec nos plateaux évènements...succès assuré!!</p>
    <a class="button-link" href="#">En savoir plus</a>
  </div>
</div>
